:root {
  --text-color: #fff;
  --link-color: #00DDFF;
  --username-color: #5BD2D6;
  --terminal-bg: rgba(0,0,0,82%);
  --terminal-header-bg: #FAF6FA;
  --scollbar-color: #ffffff95;
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
@font-face {
  font-family: "San Francisco";
  font-weight: 800;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.contact-wrapper {
  position: absolute;
  z-index: 2;
  resize: both;
  overflow: hidden;
  height: 80%;
  width: 80%;
  border-radius: 7px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: 1;
  min-height: 200px;
  width: min(900px, 90vw);
}
.contact-wrapper.open {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}
.contact-wrapper.full-screen {
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  resize: none;
  border-radius: 0;
}

.contact {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.contact .contact-sidebar {
  width: 30%;
  background: rgba(234, 230, 236, 0.98);
}
.contact .contact-sidebar::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
}
.contact .contact-sidebar .contact-sidebar-container {
  padding: 15px;
  margin-top: 30px;
}
.contact .contact-sidebar .contact-sidebar-container .contact-sidebar-title {
  font-size: 13px;
  color: #A7A5AA;
  padding-left: 5px;
}
.contact .contact-sidebar .contact-sidebar-container .contact-sidebar-content {
  color: #fff;
  padding: 7px 15px;
  padding-top: 8px;
  background: radial-gradient(rgb(47, 105, 246), rgb(42, 99, 246));
  cursor: pointer;
  border-radius: 7px;
}
.contact .contact-body {
  width: 70%;
  background-color: #fff;
  border-left: 1px solid #C3C0C5;
  overflow: auto;
}
.contact .contact-body .contact-body-content {
  padding: 25px;
  padding-top: 50px;
  background-color: #fff;
}
.contact .contact-body .contact-body-content .contact-body-content-item {
  width: 75%;
  margin: 0 auto;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control {
  width: 100%;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control:first-child {
  margin-top: 40px;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control input, .contact .contact-body .contact-body-content .contact-body-content-item .form-control textarea {
  border-radius: 4px;
  position: relative;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border-width: 2px;
  border-style: solid;
  border-radius: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  -webkit-transition: border-color 100ms ease;
  transition: border-color 100ms ease;
  border-color: rgb(230, 230, 230);
  color: rgb(39, 39, 39);
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control input:hover, .contact .contact-body .contact-body-content .contact-body-content-item .form-control textarea:hover {
  border-color: #d1d1d1;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control input:active, .contact .contact-body .contact-body-content .contact-body-content-item .form-control input:focus, .contact .contact-body .contact-body-content .contact-body-content-item .form-control textarea:active, .contact .contact-body .contact-body-content .contact-body-content-item .form-control textarea:focus {
  border-color: #989898;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control textarea {
  resize: vertical;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control button[type=submit] {
  font-size: 16px;
  border: none;
  outline: none;
  background: radial-gradient(rgb(47, 105, 246), rgb(42, 99, 246));
  color: #fff;
  padding: 9px 15px;
  padding-top: 10px;
  border-radius: 7px;
  cursor: pointer;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control button[type=submit].valid {
  background: green;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control button[type=submit].valid #submitValid {
  display: inline-block;
}
.contact .contact-body .contact-body-content .contact-body-content-item .form-control #submitLoader,
.contact .contact-body .contact-body-content .contact-body-content-item .form-control #submitValid {
  display: none;
}
.contact .contact-body .contact-body-title {
  color: rgb(156, 156, 156);
}
.contact .contact-body .contact-body-subtitle {
  color: rgb(39, 39, 39);
  padding-left: 8px;
}
.contact .contact-body .contact-body-subtitle i {
  color: rgb(47, 105, 246);
}
.contact .contact-body .contact-body-subtitle i:last-child {
  padding-left: 8px;
}
.contact .contact-body hr {
  height: 2px;
  background-color: rgb(230, 230, 230);
  border: none;
}
.contact .contact-body .contact-body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.contact .contact-body .contact-body-header img {
  height: 80px;
  width: 80px;
  border-radius: 9999px;
}
.contact .contact-body .contact-body-header span {
  margin-left: 20px;
  font-size: 18px;
}
.contact .contact-body .contact-body-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 300px;
  margin-top: 30px;
}
.contact .contact-body .contact-body-buttons .contact-body-button {
  cursor: pointer;
}
.contact .contact-body .contact-body-buttons .contact-body-button a {
  text-decoration: none;
}
.contact .contact-body .contact-body-buttons .contact-body-button span {
  color: rgb(47, 105, 246);
  font-size: 13px;
}
.contact .contact-body .contact-body-buttons .contact-body-button i {
  background: radial-gradient(rgb(47, 105, 246), rgb(42, 99, 246));
  border-radius: 9999px;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-sidebar,
.contact .contact-body {
    width: 100% !important;
  }
  .contact .contact-sidebar {
    height: 30%;
  }
  .contact .contact-sidebar::before {
    width: 100% !important;
    height: 30% !important;
  }
  .contact .contact-body {
    height: 70%;
    border-top: 1px solid #C3C0C5;
    border-left: none !important;
  }
}
@media screen and (max-width: 400px) {
  .contact-body-buttons {
    width: 200px !important;
  }

  .contact-body .contact-body-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}/*# sourceMappingURL=contact.css.map */