@mixin screenBase {
  position: absolute;
  z-index: 2;
  resize: both;
  overflow: hidden;
  height: 80%;
  width: 80%;
  border-radius: $border-radius;
  transform: scale(0);
  transition: transform 0.4s;
  z-index: 1;
  min-height: 200px;
  // min-width: 200px;
  width: min(900px, 90vw);
}

@mixin fullScreen {
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  resize: none;
  border-radius: 0;
}