@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  &.light-mode {
    --text-color: #000;
    --link-color: #008296;
    --username-color: #3f8e91;
    --terminal-bg: rgba(255, 255, 255, 82%);
    --terminal-header-bg: #F9F5F9;
    --scollbar-color: #00000095;
  }
  box-sizing: border-box;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .page-loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 999999999999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;

    img {
      width: 100px;
      margin-bottom: 60px;
    }

    .progress-load {
      width: 400px;
      max-width: 85vw;
      height: 4px;
      border-radius: 4px;
      background: rgba(255,255,255,0.5);
      overflow: hidden;
    }
    .progress-load:after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background: #fff;
      animation: load 5s linear;
    }
  }

  &.loaded {
    .page-loader {
      display: none;
    }
  }
}

ul {
  margin: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

@import './mixins.scss';
@import './terminal/terminal.scss';
@import './os/os.scss';
@import './navigateur/navigateur.scss';
@import './contact/contact.scss';
