.terminal {
  @include screenBase;

  &.open {
    transform: scale(100%);
  }

  &.full-screen {
    @include fullScreen;

    .terminal-header {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .terminal-body {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .terminal-header {
    height: 35px;
    padding: 0 8px;
    background-color: var(--terminal-header-bg);
    margin: 0 auto;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    cursor: move;

    .button {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid #000;
      position: relative;
      top: 10px;
      left: 10px;
      display: inline-block;
      cursor: pointer;

      &.close {
        left: 6px;
        background-color: #FF605C;
        border-color: #FF4A47;
      }

      &.minimize {
        left: 12px;
        background-color: #FFBD44;
        border-color: #FFB833;
      }

      &.maximize {
        left: 18px;
        background-color: #00CA4E;
        border-color: #00B846;
      }
    }
  }

  .terminal-body {
    font-family: "Ubuntu Mono", monospace;
    background: var(--terminal-bg);
    color: var(--text-color);
    padding: 8px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    height: calc(100% - 41px);

    /* Works on Firefox */ 
    scrollbar-width: thin;
    scrollbar-color: var(--scollbar-color) transparent;

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scollbar-color);
      border-radius: 9999px;
    }

    code {
      color: var(--link-color);
      font-size: 14px;
    }

    .terminal-banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: var(--text-color);
    }

    .terminal-line {
      margin-bottom: 8px;

      &::before {
        content: "➜ Elliot-Sutton:~ Skyleen$ ";
        color: var(--username-color);
      }

      input[type="text"] {
        background: none;
        border: none;
        font-family: "Ubuntu Mono", monospace;
        color: var(--text-color);
        outline: none;
        font-size: 15px;
        width: calc(100% - 230px);
      }
    }

    .terminal-response {
      margin: 8px 0 16px 0;

      table {
        border: 1px solid;
        padding: 4px;
        width: 100%;

        a {
          text-decoration: none;
          color: var(--link-color);
        }

        thead {
          th {
            font-weight: normal;
            color: var(--username-color);
            border-bottom: 1px solid white;
            padding-bottom: 4px;
          }
        }

        tbody {
          td {
            padding: 4px;
          }

          tr:not(:last-child) {
            td {
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .terminal {
    height: 80% !important;
    width: 90% !important;

    .terminal-header {
      cursor: unset;
    }

    .terminal-body {
      .terminal-banner {
        pre {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  body {
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .terminal {
    top: 50px;
    resize: none;
    
    &.full-screen {
      .terminal-body {
        width: 100% !important;
        height: calc(100vh - 41px) !important;
      }
    }

    .terminal-body {
      max-width: unset;
      width: 90vw;
      height: 75vh;
      margin-bottom: 7vh;

      .terminal-banner {
        pre {
          font-size: 5px;
        }
      }
    }
  }
}